@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Public Chat</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var chats = $.connection.chatHub;
        chats.connection.start();
    </script>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="bootstrap snippet">
        <div class="row">
            <div class="col-md-12 bg-white ">
                <div class="panel">
                    <div class="panel-body">
                        <input class="form-control no-shadow no-rounded" placeholder="Type your name here" id="name">
                    </div>
                </div>
                <div class="chat-message">
                    <ul class="chat">

                    </ul>
                </div>
                <div class="chat-box bg-white">
                    <div class="input-group">
                        <input class="form-control border no-shadow no-rounded" placeholder="Type your message here" id="message">
                        <span class="input-group-btn">
                            <button class="btn btn-success no-rounded" type="button" id="send-button">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    //js method
    chats.client.receive = function (username, message, time) {

        var template = 
                        "<li class='" + (username == $("#name").val() ? "left" : "right") + " clearfix'>" +
                        "    <span class='chat-img " + (username == $("#name").val() ? "pull-left" : "pull-right") + "'>" +
                        "        <img src='http://placehold.it/50/EEE/FFF&text=" + username[0] + username[1] + "' alt='" + username + "'>" +
                        "    </span>" +
                        "    <div class='chat-body clearfix'>" +
                        "        <div class='header'>" +
                        "            <strong class='primary-font'>" + username + "</strong>" +
                        "            <small class='pull-right text-muted'><i class='fa fa-clock-o'></i> " + moment(time, 'YYYYMMDDHHmmSS').utc().fromNow() + "</small>" +
                        "        </div>" +
                        "        <p>" +
                        "            " + message + "" +
                        "        </p>" +
                        "    </div>" +
                        "</li>" ;

        $(".chat").append(template);
    };

    function sendMessage() {
        //server method
        if (!!$("#name").val() && !!$("#message").val()) {
            chats.server.send($("#name").val(), $("#message").val());
            $("#message").val("");
        }
    }

    $("#message")
        .keypress(function(e) {
            if (e.which == 13) {
                e.preventDefault();
                sendMessage(e);
            }
        });

    $("#send-button")
        .click(function (e) {
            e.preventDefault();
            sendMessage();
        });

</script>

</body>
</html>